@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Monoton);
@font-face {
  font-family: 'Intensa Fuente';
  font-weight: 300;
  font-size: 8000px;
  src: url('./Windows/Fonts/Intensa Fuente.ttf') format('truetype')
}

/*    Reset CSS  */
* { margin:0;  padding:0; }
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#bbb;}
img { border:0;}
body { position:fixed;  width:100%; height:100%; background:#111;}

/* 배경 동영상 */
.vid {
  filter: blur(15px);
  padding-bottom: 56.25%; /* 16:9 비율을 유지 */
	top: -220px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: relative; 
}

.vid video { 
  position: absolute; /* .vid의 부모 요소에 대해 절대 위치 설정 */
  top: 0;
  left: 0;
  width: 100%; /* 비디오를 컨테이너의 너비와 맞춤 */
  height: 100%; /* 비디오를 컨테이너의 높이와 맞춤 */
  object-fit: cover; /* 비디오가 컨테이너를 완전히 덮도록 설정 */
}

/* 반응형 디자인 */
@media (max-width: 1200px) {
  .vid {
    filter: blur(15px);
  }

  .vid video {
    bottom: 100px; /* 비디오 위치 조정 */
  }
}

@media (max-width: 992px) {
  .vid {
    filter: blur(15px);
  }

  .vid video {
    bottom: 60px; /* 비디오 위치 조정 */
  }
}

@media (max-width: 768px) {
  .vid {
    filter: blur(15px);
  }

  .vid video {
    bottom: 20px; /* 비디오 위치 조정 */
  }
}




.vid2 {
  width: 40%; /* 원하는 크기로 조정하세요 */
  height: 50%; /* 원하는 크기로 조정하세요 */
  position: fixed;
  top: 50%; /* 세로 중앙 정렬 */
  left: 45%; /* 가로 중앙 정렬 */
  transform: translate(-50%, -50%);
  z-index: 1; /* 배경 동영상 위에 있도록 설정 */
}

.vid2 video { 
  position: absolute; /* .vid의 부모 요소에 대해 절대 위치 설정 */
  width: 100%; /* 비디오를 컨테이너의 너비와 맞춤 */
  height: 100%; /* 비디오를 컨테이너의 높이와 맞춤 */
  object-fit: cover; /* 비디오가 컨테이너를 완전히 덮도록 설정 */
  
}











/**/
h1 {
  position: fixed;
  top: 5%;
  left: 2%;
  z-index: 10;
}

h1 img {
  width: 16%;
  height: auto;
}

header {
  width: 20%;
  max-width:237px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(139, 215, 118, 0.5);
}


/* 1depth*/
/* 1depth */
#gnb {
  width: 100%; /* 전체 너비를 사용 */
  max-width: 270px; /* 최대 너비를 270px로 제한 */
  position: absolute;
  top: 27%;
}

#gnb>li {
  position: relative;
  margin-bottom: 20px;
}

#gnb a {
  display: block;
  width: 100%; /* 부모 요소에 맞춰 전체 너비 사용 */
  height: 20%;

  font: bold 18px/3 'Play';
  font-size:1.4vw;
  color: #28375b;
  box-sizing: border-box;
  text-align: center;
}

#gnb>li.on>a {
  background: #000;
  color: #fff;
}

.selected a{
  background: rgba(94, 165, 180, 0.8);
  color: #fff;
}

#gnb>li:hover>a {
  background: rgba(94, 165, 180, 0.8);
}

.t{
  position: fixed;
  top: 80px;
  left:70%;
  display: flex;
  flex-direction: column;
}


.t p{
  font-family: 'Intensa Fuente';
font-size:7vw;
color: #fff;
margin-bottom: -15px;
text-align: center;
}

.day #p2{
  margin-top:-20px;
}

p #em1{
  font: bold 1.7vw 'Play', sans-serif;
color: #fff;
font-display: center;
}

p #em2{
  font: bold 3vw 'Play', sans-serif;
color: #fff;
}

#ticket{
  margin-top: 50px;
  display: flex;

width: 25vw;
height: 4vw;
  background-color: rgba(94, 165, 180, 2);;
align-items: center; /* 가로 가운데 정렬 */
  justify-content: center; 
}

#ticket p{
  font: bold 2vw 'Play', sans-serif;
padding-bottom: 15px;;
}





/* contents 레이아웃 */
#ticket:hover { right:-1800px; opacity:1;}

.con { display: flex; flex-direction: row; width:100%; height:100%; position:absolute; left:120%; bottom:4%; 	padding:10px; transition:all  1s;}

#ticket:hover .con { left:-50px;}

img {
  position:relative;
  width: 120%;
  height:110%;
}

@keyframes ani {
	0% { right:0px; transform:sclae(1); opacity:1;}
	100% { right:100px; transform:scale(1.5); opacity:0;}
}



.section-content{
  position:fixed;
  background-color: #fff;
  top:50%;
  left:50%;
}






/*  
.info-box{
  width: 40%; 
  height: 50%;
  position: fixed;
  top: 50%; 
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}  
 */


